<footer class="footer footer-two position-relative">
  <div class="container-fluid content">
    <div class="row">
      <div class="col-12 left-col pe-0">
        <div>
          <div class="cta reveal reveal--left reveal--overlay">
            <div class="cta-content">
              <h2 class="mb-2 fade_up_anim">Take the First Step Today</h2>
              <p class="pb-lg-3 mb-3 mb-xl-4 fade_up_anim" data-delay=".3">Ready to seek expert legal guidance? Don't hesitate. Take the first step towards resolving your legal matters by contacting our team of dedicated attorneys.</p>
              <a href="contact-us.html" class="black-btn">Contact Us <i class="ti ti-arrow-up-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="position-relative overflow-x-hidden">
    <div class="footer-two-inner content">
      <div class="row g-3 g-lg-0">
        <div class="col-md-4 col-xl-3">
          <div class="footer-card px-2 pe-xxl-5 fade_up_anim">
            <a href="#">
              <img src="assets/images/logo-black.png" class="img-fluid mb-4" alt="" />
            </a>
            <p class="mb-4 pb-lg-3 text-n500">Welcome to Solarox, where legal expertise meets personalized service. We are a team of highly skilled attorneys dedicated to providing</p>
            <ul class="social-link two">
              <li>
                <a href="#"><i class="ti ti-brand-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="ti ti-brand-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="ti ti-brand-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="ti ti-brand-twitter"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-8 col-xl-9">
          <div class="navigate-part">
            <div class="top">
              <div class="row">
                <div class="col-lg-6">
                  <h2 class="fade_up_anim fw-normal text-n500">Subscribe to our newsletter for the latest updates</h2>
                </div>
                <div class="col-lg-6">
                  <div class="d-flex justify-content-end">
                    <form class="two">
                      <input type="email" class="ps-2" placeholder="Your Email..." required />
                      <button><i class="ti ti-send"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="row g-3 g-lg-0">
              <div class="col-sm-6 col-xl-3 fade_up_anim">
                <h4 class="mb-4 text-n500">Quick Link</h4>
                <ul class="navigation-links">
                  <li>
                    <a href="index.html"> Home</a>
                  </li>
                  <li>
                    <a href="about-us.html"> About Us</a>
                  </li>
                  <li>
                    <a href="services.html"> Service</a>
                  </li>
                  <li>
                    <a href="blog-standard.html"> Blog</a>
                  </li>
                  <li>
                    <a href="contact-us.html"> Contact us</a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6 col-xl-3 fade_up_anim" data-delay=".2">
                <h4 class="mb-4 text-n500">Pages</h4>
                <ul class="navigation-links">
                  <li>
                    <a href="index.html"> Projects</a>
                  </li>
                  <li>
                    <a href="about-us.html"> Project Details</a>
                  </li>
                  <li>
                    <a href="services.html"> Blog</a>
                  </li>
                  <li>
                    <a href="blog-standard.html"> Faqs</a>
                  </li>
                  <li>
                    <a href="contact-us.html"> Contact us</a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6 col-xl-3 fade_up_anim" data-delay=".4">
                <h4 class="mb-4 text-n500">Shop</h4>
                <ul class="navigation-links">
                  <li>
                    <a href="index.html"> Products</a>
                  </li>
                  <li>
                    <a href="about-us.html"> Product Details</a>
                  </li>
                  <li>
                    <a href="services.html"> Cart</a>
                  </li>
                  <li>
                    <a href="blog-standard.html"> Billing &amp; Address</a>
                  </li>
                  <li>
                    <a href="contact-us.html"> Payment</a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6 col-xl-3 fade_up_anim" data-delay=".6">
                <div class="flex-grow-1">
                  <h4 class="pb-3 text-n500">Contact</h4>
                  <ul class="contact-two mb-0">
                    <li class="contact-item">
                      <div class="contact-icon">
                        <i class="ti ti-phone-call"></i>
                      </div>
                      <div class="d-flex flex-column gap-1">
                        <a href="tel:(808)555-0111">(808) 555-0111,</a>
                        <a href="tel:(808)555-0111">(302) 555-0107</a>
                      </div>
                    </li>
                    <li class="contact-item">
                      <div class="contact-icon">
                        <i class="ti ti-mail"></i>
                      </div>
                      <div class="d-flex flex-column gap-1">
                        <a href="mailto:info@example.com">info@example.com,</a>
                        <a href="mailto:info@example.com">info@example.com</a>
                      </div>
                    </li>
                    <li class="contact-item">
                      <div class="contact-icon">
                        <i class="ti ti-map-pin-search"></i>
                      </div>
                      <div class="d-flex flex-column gap-1">
                        <p>3605 Parker Rd.</p>
                        <p>3890 Poplar Dr.</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-two d-flex flex-wrap gap-3 align-items-center justify-content-between px-3">
        <p>Copyright © <a href="#" class="text-secondary3">Solarox</a> All rights reserved.</p>
        <ul class="list-unstyled d-flex flex-wrap align-items-center mb-0 ps-0 gap-2">
          <li><a href="#">Privacy Policy</a></li>
          <li class="text-sm d-none d-sm-block"><i class="ti ti-point-filled"></i></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
